*,
::before,
::after {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	width: 100%;
}

body {
	font-family: 'Advent Pro', sans-serif;
}

h2,
h3,
.nav-link,
.package-header {
	font-family: 'Urbanist', sans-serif;
}

a {
	text-decoration: none;
	color: gray;
}

main {
	display: flex;
	flex-direction: column;
	/* overflow: hidden; */
}

/* #header-container {
	display: flex;
	width: 100%;
} */

header {
	display: flex;
	background-color: rgb(247, 247, 248);
	height: 100px;
	width: 100%;
	position: fixed;
	z-index: 2;
}

#nav-container {
	width: 33%;
	margin: auto;
}

img {
	width: 500px;
	height: 100px;
	object-fit: cover;
	overflow: hidden;
	object-position: center;
}

#img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33%;
}


ul {
	display: flex;
	list-style: none;
	font-size: 1vw;
}

li {
	margin: 0 35px;
}

#bookdiv {
	display: flex;
	width: 28%;
	justify-content: right;
	align-items: center;
	padding-right: 60px;
	margin-bottom: 25px;
}

#button {
	border: 1px solid rgba(128, 128, 128, 0.5);
	background-color: rgba(196, 196, 196, 0.5);
	font-family: 'Advent Pro', sans-serif;
	font-weight: bold;
	color: gray;
	padding: 10px;
}

#button:hover {
	cursor: pointer;
	background-color: rgb(196, 196, 196);
}

#bg-video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#video-wrapper {
	position: relative;
	width: 100vw;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

#header-title {
	position: relative;
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-family: 'Bad Script', cursive;
	font-size: 3vw;
	z-index: 1;
	color: white;
	letter-spacing: 5px;
}

#tagline {
	font-family: 'Quicksand', sans-serif;
	z-index: 1;
	letter-spacing: 2px;
	color: white;
	font-size: 1vw;
	margin-top: -5px;
}

#form {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
	color: gray;
	border-radius: 5%;
	border: 1px solid gray;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#email {
	height: 25px;
	width: 140px;
}

::placeholder {
	display: flex;

	text-align: center;
}

#submit {
	height: 20px;
	width: 80px;
	margin: 5px;
	background-color: transparent;
	color: white;
	border: 1px solid white;
	cursor: pointer;
}

#submit:hover {
	background: linear-gradient(to right, transparent, rgb(102, 170, 190) 50%) right;
	background-size: 200% 100%;
	transition: all 2s ease;
}

.body-container {
	display: block;
	background-color: white;
	padding: 50px;
	z-index: 1;
}

#about-us {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 30px 50px 200px 50px;
}

#grid-container {
	width: 50%;
}

.grid {
	width: 90%;
	font-size: 15px;
	letter-spacing: 2px;
	line-height: 25px;
	font-weight: bold;
}

h2 {
	margin: 40px 0 15px 0;
}

#resort-photo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

#resort-photo {
	width: auto;
	height: auto;
	max-width: 600px;
	max-height: 370px;
	overflow: hidden;
}

#what-to-expect {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 30px 50px 200px 50px;
}

#video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

#video-box {
	margin: auto;
}

#video-description-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 10px 20px 20px 20px;
	font-size: 15px;
	letter-spacing: 2px;
	line-height: 25px;
	font-weight: bold;
}

#video-caption {
	margin: 20px 20px 50px 20px;
}

#video-description {
	width: 80%;
}

#body-video {
	width: auto;
	height: auto;
	max-width: 600px;
	max-height: 370px;
	overflow: hidden;
}